.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}

.categories__list {
    display: flex;
    column-gap: 15px;
}

@media (max-width: 1440px) {
    .categories {
        width: 100%;
    }

    .categories__list {
        overflow: scroll;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 425px) {
    .categories__list {
        column-gap: 8px;
        margin-top: -10px;
        margin-bottom: 5px;
    }
}