.pizza__title {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.01em;
    color: #000;
    margin-top: 32px;
    margin-bottom: 35px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
    row-gap: 65px;
}

@media (max-width: 768px) {
    .pizza__title {
        font-size: 30px;
        margin-top: 32px;
        margin-bottom: 35px;
    }

    .list {
        column-gap: 30px;
        row-gap: 45px;
    }
}

@media (max-width: 425px) {
    .pizza__title {
        font-size: 28px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .list {
        column-gap: 30px;
        row-gap: 35px;
    }
}