.search__input {
    width: 400px;
    border: 1px solid #8f8f8f;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    color: #000;
}

.search__input::placeholder {
    color: #8f8f8f;
}

@media (max-width: 768px) {
    .search__input {
        width: 300px;
        padding: 8px 15px;
    }
}

@media (max-width: 425px) {
    .search__input {
        width: 100%;
        font-size: 16px;
    }
}